[2018-10-25 07:27] Strernd opened #8 "serverless-plugin-epsagon leads to Internal Server error"
When I use the serverless-plugin-epsagon with my lambda function, it stops working.

Reproduction:

- Create basic function template with serverless framework
- Add HTTP handler
- install epsagon and plugin
- Supply token to epsagon config in serverless.yml
- Deploy function

Call HTTP:
{"message": "Internal server error"}

- Comment out the epsagon plugin
- Deploy function

Call HTTP:
{ "message"

[2018-10-28 08:03] galbash commented on #8
Hi @Strernd  thanks for taking the time to open an issue! We will get right on it and fix it :) In the meantime, can you please help me verify that the error is what I think it is?
I think it is a bug introduced in the latest version, where pg should be an optional dependency but if not there epsagon won't load. We will fix it ASAP, but just to make sure you don't experience a different issue - ca

[2018-10-28 10:57] ranrib commented on #8
Relevant PR: https://github.com/epsagon/epsagon-node/pull/9

[2018-10-28 11:16] ilyaLibin commented on #8
@Strernd Thanks again for the report. I have published a new version, that should fix the issue. Please make sure the `v1.1.1` of epsagon npm package installed.

[2018-10-28 11:16] #8 closed, assigned to galbash, ilyaLibin

[2018-10-29 07:08] Strernd commented on #8
Can confirm it works now. Thanks.

[2018-12-22 17:29] gangster opened #29 "Unable to import module 'epsagon_handlers/run-epsagon'"
This is probably my fault, but I'm getting this error when I try to wrap a function.    I am using Typescript, so maybe that has something to do with it.    Anyways, I have a lambda in my state machine that looks something like the following:

[code]

And I am seeing this error occur in my `run` function, which is responsible for executing the state machine, where `upsertFile` lives.

[code]

Any

[2018-12-22 17:47] gangster commented on #29
Forgot to mention, I am also using serverless framework and the plugin.

[2018-12-22 21:13] ranrib commented on #29
Hi there @gangster !

In case you are using the serverless framework plugin, you don't need to manually add the code and the wrapper - the plugin takes care for it.

To your specific issue - any chance the 'epsagon_handlers' is under the exclude section in your yml file?

If it doesn't help, will you be able to share your serverless.yml file please?

Thanks

[2019-01-02 12:51] galbash commented on #29
Hi @gangster ,
We made some updates to the serverless plugin as well as the node library, and the issue should be resolved now. Can you update the plugin and the library to the latest versions and let us know if the issue is fixed?

Thanks!

[2019-01-09 10:02] #29 closed, assigned to nobody

[2019-02-16 14:38] ChristopheBougere opened #56 "ECONNREFUSED and timeout when load testing"
Hi guys!

I'm load testing an API Gateway endpoint. The lambda behind is instrumented with epsagon (I'm using the serverless plugin but I don't think it is related).
I'm sending 2000 requests, one every 10ms.
It works until a point, and then I see a `Error: ECONNREFUSED, Connection refused` and then the handler does not even get called (I don't see any logs, but I can see that the lambda has been

[2019-02-16 18:10] ranrib commented on #56
Hi Christophe!

It's actually a bit weird because we limit the trace sending to 1 second max. In general, when you just run the function separately does it work?
Can you try set EPSAGON_DEBUG=TRUE, and run the load test again please?
If you increase the timeout (let's say 10 seconds) will it stale to that duration?

Thanks!

[2019-02-17 10:18] ChristopheBougere commented on #56
Hi Ran,
When I am using the function normally (not load testing), everything works well.

It is the same with 10 seconds timeout:
![image](https://user-images.githubusercontent.com/1325474/52911143-29442a00-32a0-11e9-8101-ccedbe58ee5d.png)

Even with the EPSAGON_DEBUG, I don't see more information:
![image](https://user-images.githubusercontent.com/1325474/52911422-dec4ac80-32a3-11e9-93a1-73f59ea1

[2019-02-19 12:42] ranrib commented on #56
It will be a bit hard to investigate such issue.. Does the ECONNREFUSED come from your code? or from AWS? Can you try and open a ticket to AWS so they'll have a further investigation?

[2019-02-19 15:15] ChristopheBougere commented on #56
You're right, it's a bit complicated to investigate like this.
The error does not come from my own code, but it could come from Lambda itself.
I'll reopen if I'm able to find more information.

[2019-02-19 15:15] #56 closed, assigned to nobody

[2019-04-29 10:19] vitali-ausianik opened #80 "Does Epsagon wrapper support async/await style of lambdas?"
Hello Guys!
Just a quick question for confirmation.
Lambda function with Node 8.10 runtime supports async/await style of coding. What about Epsagon?
Will code below work as expected?
[code]

Thanks!

[2019-04-29 10:22] ranrib commented on #80
Hi @vitali-ausianik - this will definitely work. Epsagon supports both async and non-async handler functions. Epsagon will wait until your function fully ends, and then it will send a trace. Let us know if you encounter any issue.

[2019-04-29 11:59] #80 closed, assigned to ranrib

[2019-04-29 15:10] vitali-ausianik commented on #80
Sorry for reopening, I have something to add for this topic. I'm trying to use epsagon v.1.19.0 (1.19.1 doesn't work - throws error every function execution)
My setup contains four functions using async/await style of coding. Every function uses separate application name for ```epsagon.init```. Unfortunately it doesn't send any trace messages to epsagon site. I see this "silence" issue only from A

[2019-04-29 15:19] ranrib commented on #80
Hi @vitali-ausianik can you please contact us via the help widget in the product? Thanks

[2019-05-01 05:53] rehanvdm opened #82 "epsagon.lambdaWrapper is not async"
This post https://aws.amazon.com/blogs/compute/node-js-8-10-runtime-now-available-in-aws-lambda/ shows how to use async function properly. Here is what I am doing:
[code]

Then I can test this file as:
[code]
This works, it will wait for app.handler to finish before continuing with execution. BUT I can not do this with Epsagon, if I change the program as you suggest:
[code]

This does not work, it

[2019-05-01 08:39] ranrib commented on #82
Hi @rehanvdm, Epsagon `lambdaWrapper` returns the same value as the original function - in an Async function it will return a Promise, that will allow you to do await. the following code worked for me:

[code]

By the way, you may consider discarding the await in the handler:
[code]

[2019-05-02 05:18] rehanvdm commented on #82
Okay I think I found the problem. It is when ever I pass in both event and context params to the lambda.

So can you please confirm that this fails for you as well?

[code]

[2019-05-02 06:33] ranrib commented on #82
In such case - you are right - Epsagon expects to get a valid context as an input, if given.

[2019-05-02 06:47] rehanvdm commented on #82
Okay, according to https://docs.aws.amazon.com/lambda/latest/dg/nodejs-prog-model-context.html, there are quite a few properties. I only make use of one or 2 in my code. So for local testing, I don't know all those values and I assume that if I fill them in wrong Epsagon when sending the trace or when analyzing it will throw an error somewhere along the line ?

What do you suggest I do for local t

[2019-05-02 06:54] ranrib commented on #82
for local testing you can set DISABLE_EPSAGON = TRUE (environment variable), it will disable all Epsagon wrappers.

[2019-05-02 06:59] rehanvdm commented on #82
If I set this above epsagon init and the wrapper, it works. Thank you
[code]

[2019-05-02 07:19] rehanvdm commented on #82
Confirmed, testing locally, I set that above the test, then when deployed to AWS it works as expected and traces get send

[2019-05-02 07:19] #82 closed, assigned to ranrib

[2019-06-05 19:45] tonyxiao opened #100 "TypeScript type definitions"
This is something I'm using internally in our TypeScript project. It'd be great if epsagon included `index.d.ts` inside of itself.

[code]

[2019-06-08 14:10] #100 closed, assigned to ranrib

[2019-06-09 06:56] ranrib commented on #100
:tada: This issue has been resolved in version 1.23.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.23.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-25 19:05] trieloff opened #120 "OpenWhisk Wrapper with token_param fails when called without parameters"
See this commit: https://github.com/adobe/helix-experimental-dispatch/commit/4a94c00b3dc6b922897396800dc26f3fe9d7058f and this test result: https://circleci.com/gh/adobe/helix-experimental-dispatch/102

[code]

the wrapper function doesn't like it too much when `params` is empty, which leads to a bad failure. This can never happen in production, but it would make sense to guard against it for test

[2019-06-25 19:28] trieloff opened #122 "Intercept openwhisk.action.invoke"
When I'm using the OpenWhisk client package https://www.npmjs.com/package/openwhisk to invoke other OpenWhisk actions from my action, it will get detected by Epsagon as a HTTP request (because that's what's happening under the hood), but it might make sense to detect that natively.

[2019-06-26 06:19] #120 closed, assigned to nobody

[2019-06-26 06:24] ranrib commented on #120
:tada: This issue has been resolved in version 1.27.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.27.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-26 09:43] trieloff opened #124 "Should OpenWhisk web actions that return an error HTTP status code be treated as errors?"
I'm unsure if this is a bug, or what the desired behavior should be:

I have a function that will return a HTTP status code 404 if it can't find a particular file, e.g. by calling `https://adobeioruntime.net/api/v1/web/helix/helix-services/static@ci109?owner=trieloff&repo=helix-demo&ref=master&entry=/index.js&plain=true` and it returns 200 when everything is ok: `http "https://adobeioruntime.net/a

[2019-06-26 12:25] akum32 opened #125 "Support for ALB?"
Hi,

Often it can be optimal to use an AWS Application Load Balancer instead of API Gateway. Does Epsagon track ALBs?

The docs don't mention this but just wanted to confirm: https://docs.epsagon.com/docs/nodejs

Thanks.

[2019-06-26 12:32] ranrib commented on #125
Hi there, currently you will see the payload in Epsagon but the icon will be presented as an API Gateway. We will take care to fix that :)

[2019-06-26 12:36] ranrib commented on #125
I don't see however any traces/invocations from you - can you get in touch with our support through the product?

[2019-06-26 12:38] ranrib commented on #124
Hi, In general you are right for this case - but since we will do soon https://github.com/epsagon/epsagon-node/issues/122, I think this one will be irrelevant. right?

[2019-06-26 12:48] trieloff commented on #124
No, this and #122 are largely orthogonal. #122 treats the observation of outgoing invocations, and what I'm wondering is how to deal with execution failures that got handled correctly, but are still failures.

[2019-06-27 06:02] ranrib commented on #124
Well, it's really depends.
I guess there's no doubt that >=500 should be treated as errors.
For 400 ones - as it indicates a client side error, IMO, since you're at the side that making the call - you want to be notified. Think as if this call was to some 3rd party that you don't own - you would definitely want to know about it.

But as I mentioned, since we are going to implement a specific instr

[2019-06-27 08:37] trieloff commented on #124
In my app, `404` is exceedingly common (not just because we are serving stuff to web browsers, but also because we do speculative requests in parallel). `403/401` would be something to look out for.

It's probably a good idea to add a switch, so you can fine-tune the selectiveness.

[2019-06-28 12:26] trieloff opened #127 "Provide Option to Mask Sensitive Data"
When functions carry sensitive data such as API tokens, E-Mail addresses, etc. it is desirable to keep them away from logging infrastructure.

Therefore, I propose the addition of two new parameters for `options`: `mask_fields` and `mask_values` that specifies each a list of strings or regular expressions that will be applied to traces in `sendCurrentTrace`.

[code]

Initially, I'd just mask thing

[2019-06-30 12:48] #124 closed, assigned to nobody

[2019-06-30 12:53] ranrib commented on #124
:tada: This issue has been resolved in version 1.27.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.27.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-01 13:41] #122 closed, assigned to nobody

[2019-07-01 13:48] ranrib commented on #122
:tada: This issue has been resolved in version 1.28.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.28.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-02 05:24] tripodsan opened #129 "Potential concurrency problems in openwhisk"
As far as I can see, every openwhisk action invocation calls `tracer.restart()` which just calls
https://github.com/epsagon/epsagon-node/blob/e3d2ff06c5461caad4593976ac455bcbdac77889/src/trace_object.js#L18.
so there is only 1 `tracer` instance for the entire node process.

this can cause problems when the action is invoked concurrently, because the tracer is reset every time.

[2019-07-02 05:30] tripodsan opened #130 "Patched functions add events even if not wrapped"
Once epsagon is required, it patches the event handlers, e.g. for `http.request` etc.
Now, if requests are made before the tracer is restarted, it will add events to the tracer, which can lead to a high memory consumption.

a solution could be to set the `__epsagonCallback` for all requests that should not be traced, but this looks like an implementation detail.

ideally, the API would export some

[2019-07-07 15:03] ranrib commented on #127
It's not the exact thing - but it might help you for the meantime https://github.com/epsagon/epsagon-node/pull/131

[2019-07-10 08:22] tripodsan opened #132 "Openhwisk patcher doesn't work when final action is bundled"
The problem is the:

[code]

which hides the dependency from webpack. so in the final bundle, it cannot find the source.

replacing it with an explicit `require` works:

[code]

[2019-07-10 08:23] tripodsan commented on #132
I'll provide a PR

[2019-07-15 08:48] #125 closed, assigned to nobody

[2019-07-22 03:23] tripodsan commented on #130
this was fixed with 3b44a17c96af61573130e69227a98d516ffd50d7

[2019-07-22 03:23] #130 closed, assigned to nobody

[2019-07-22 03:24] tripodsan commented on #129
this was fixed with 3b44a17c96af61573130e69227a98d516ffd50d7

[2019-07-22 03:24] #129 closed, assigned to nobody

[2019-07-23 09:16] ranrib commented on #132
Moved to https://github.com/epsagon/epsagon-openwhisk

[2019-07-23 09:16] #132 closed, assigned to nobody

[2019-07-25 14:29] belezebu opened #148 "Question: Epsagon Lambda Wrapper. How to create errors responses?"
Hello guys.

I have a question related with Epsagon lambda wrapper. When I wrap a lambda I'm loosing the possibility to correctly handle the error and create the correct error response at the moment. What is the best solution for this problem?

E.g.: I want to be able to throw a custom error such as NotFound('product x not found') and create the appropriate APIGateway response:

[code]

Thank you

[2019-07-25 15:27] ranrib commented on #148
Hi @belezebu - when you wrap your Lambda with Epsagon we do not change the return value. we also propagate any exceptions that happen in the code (we don't mask them).
In general, in Lambda functions, you can't both throw an exception, and send a custom code.
In your case, I think that you're looking for to do something like:
[code]

Which will result in getting alert on Epsagon, and return the ri

[2019-07-25 20:11] belezebu commented on #148
Hello @ranrib. Thanks for the explanation!

[2019-07-25 20:11] #148 closed, assigned to nobody

[2019-07-29 00:37] tripodsan commented on #132
this would be fixed with #149

[2019-08-06 20:59] yandy-r commented on #100
I know this was supposed to be fixed, but when I `npm i epsagon` and include in typescript project,  the error of **cannot find definitions file** still shows up on 1.31.7, even install 1.23.1 is the same. I see the index.d.ts in the src folder here, but somehow that's not making it to NPM during packaging. as the only thing making it inside the `node_modules` folder is a bundle.js file.

I had to

[2019-08-07 10:20] ranrib commented on #100
Hi @IPyandy, we would love to fix that. Do you have any idea how to do that? Otherwise, you can also open a PR if you got a fix.

[2019-08-12 19:42] yandy-r commented on #100
Hi @ranrib, I created a PR #153 that should fix this, depending on how the **semantic-release** utility is configured as I'm not familiar with it.

I linked a dependency to the local working version in a project I'm working and types now work correctly.

[2019-08-13 06:18] ranrib commented on #100
Hi @IPyandy, you can find the new version under the PR to master - https://github.com/epsagon/epsagon-node/pull/154 (1.32.1)
Many thanks for your contribution!!

[2019-08-26 05:50] chetanmeh opened #163 "Use TransactionId for tracing in OpenWhisk"
Currently tracing using `__ACTIVATION_ID` as id for tracing in OpenWhisk which works well for seeing calls made from withing single activation.

Recently in OpenWhisk we also enabled exposing the transactionId (apache/openwhisk#4585) i.e. `__TRANSACTION_ID` which may be better suited as tracing id (in place of activationId) as it enables tracing requests made within a sequence or composition also.

[2019-08-26 09:04] trieloff commented on #127
I'm reopening this. When you add package-level parameters, it becomes very hard to manage this without wildcards.

[2019-08-26 13:05] trieloff opened #165 "http.get(url, options) not supported"
The `get` function of the NodeJS `http` module can be called with `options` or with `url, [options]. The wrapper was built only for the `options` case, and assumes that the first argument is always an object, when it can be an object, a string, or a `URL` object.

When `http.get` is used with a URL as in https://github.com/adobe/helix-resolve-git-ref/blob/233400fb22d69c79153d7ff126d8ca85c0210ce2/s

[2019-08-27 14:30] henperez commented on #165
Hi @trieloff , This issue is now fixed in #168

[2019-08-27 14:32] #165 closed, assigned to henperez

[2019-08-27 14:37] ranrib commented on #165
:tada: This issue has been resolved in version 1.33.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.33.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-03 07:14] ranrib commented on #163
Hi @chetanmeh! Today we use the activation ID to connect between action that invokes another action. We will collect the transaction ID as well, but in order to use it to connect to other events we might need a bit more information around the flow - can you share any relevant scenario please?

[2019-09-23 07:57] liadgo commented on #163
Hey @chetanmeh,
A new version has been released ([1.36.0](https://github.com/epsagon/epsagon-node/releases/tag/v1.36.0)) and it now supports collecting `__TRANSACTION_ID` in OpenWhisk.

[2019-09-23 08:28] chetanmeh commented on #163
Thanks @LiadGoren . I believe it was done via #175

[2019-09-23 08:28] #163 closed, assigned to nobody

[2019-09-27 22:07] MarquiseRosier opened #178 "Provide option to see queries when sending requests to BigQuery"
it'd be pretty cool if we can see the query being sent to bigquery in the tags!

[2019-09-30 16:12] trieloff commented on #178
Ideally it would work similar to the PG wrapper: https://github.com/epsagon/epsagon-node/blob/master/src/events/pg.js

[2019-10-17 07:14] ranrib commented on #127
I think it's solved and published already, so I'm closing

[2019-10-17 07:14] #127 closed, assigned to nobody

[2019-10-23 13:04] ranrib commented on #178
Added in https://github.com/epsagon/epsagon-node/issues/178

[2019-10-23 13:04] #178 closed, assigned to nobody

[2019-12-13 05:23] rob3000 opened #201 "Use with Step Function"
Hi I've been using epsagon with AWS lambda's but wanted to know how to get tracing working with step functions triggered by a cloudwatch schedule. Based on the examples you can:

[code]
But as my step function is triggered by cloud watch would each step(Lambda) need to be wrapped in the `stepLambdaWrapper` ?

[2019-12-13 17:44] ranrib commented on #201
Hi @rob3000 - yes, every function in a step should be wrapped with `stepLambdaWrapper`.
If you have any other issue you are more than welcome to get assistance from our in-product help widget

[2019-12-13 17:44] #201 closed, assigned to ranrib

[2020-01-10 08:42] trieloff opened #209 "Feature Request: ignoredHosts"
Similar to the `ignoredKeys` setting, I'd like to propose an `ignoredHosts` setting that allows specifying a black list of host names (or expressions). Any outgoing request made to a host on the blacklist won't get traced.

In our use case, we see a lot of logging requests sent to Coralogix, which is great the first time (when you want to confirm it's working) and annoying any time after.

[2020-01-15 13:38] #209 closed, assigned to nobody

[2020-01-15 13:42] ranrib commented on #209
:tada: This issue has been resolved in version 1.47.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.47.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-15 15:01] trieloff commented on #209
Awesome, thanks!

[2020-01-21 06:17] tripodsan opened #214 "openwhisk: Pending events are not cleared"
my tests show that traces are sent over and over again, with each invocation of an openwhisk action.
I assume that the `pendingEvents` map is not properly cleared or the `eventList` in the `Trace`.

this is certainly a problem, if sending one of the traces fails, but it seems also to occur if the traces are sent successfully.

you can also see this in the traces UI:

![image](https://user-images.g

[2020-01-21 06:20] tripodsan opened #215 "process.env.EPSAGON_SEND_TIMEOUT_SEC is used globally"
`process.env.EPSAGON_SEND_TIMEOUT_SEC` is used globally:

https://github.com/epsagon/epsagon-node/blob/3114849f4849f44122ce45c823cb909c25e11fc5/src/tracer.js#L57-L59

which requires it be be set before the `epsagon` module is imported. this is not very practical.
it would be better if it was evaluated each time it's needed.

[2020-01-24 03:51] tripodsan commented on #214
the problem was that _we_ accidentially wrapped the action over and over again, which lead to weird sideeffects.

[2020-01-24 03:51] #214 closed, assigned to nobody

[2020-01-24 03:54] tripodsan opened #218 "openwhisk: actions invoked with the openwhisk client don't generate a trace anymore"
An openwhisk action invoking another action using the openwhisk client used to generate a trace; but this no longer works.

epsagon version: 1.48.1

[2020-01-24 03:54] tripodsan commented on #218
_I'll take a look_

[2020-01-24 06:26] tripodsan commented on #218
it seems that [this commit](https://github.com/epsagon/epsagon-node/commit/3640fe5bca2fcb82132f5689958ec6e792a30406) broke the webpack support.

I see tons of:

[code]

[2020-01-25 21:09] #218 closed, assigned to tripodsan

[2020-01-25 21:13] ranrib commented on #218
:tada: This issue has been resolved in version 1.48.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.48.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-27 01:35] tripodsan opened #221 "openwhisk: invoking sub-actions causes process to hang on errors"
if an openhwisk action invokes another actions, and that action responds with an error, the process seems to hang.

[2020-01-27 01:35] tripodsan commented on #221
_I'll have a look_

[2020-01-27 04:03] tripodsan opened #223 "openwhisk: actions invoked with 'result:true' don't show result in traces"
if an openwhisk action is invoked with `result:true`, the API directly returns the result of the action and not the entire response object. in this case, the trace doesn't contain information about the return value.

[2020-01-27 04:08] tripodsan opened #224 "openwhisk: params of action invocations not recorded in traces"
it would be practical to see the params of action invocations in the traces. currently they are not added to the metadata map.

[2020-01-29 01:48] tripodsan commented on #215
fixed with #225

[2020-01-29 01:48] #215 closed, assigned to nobody

[2020-01-30 11:45] #221 closed, assigned to tripodsan

[2020-01-30 11:45] #223 closed, assigned to tripodsan

[2020-01-30 11:45] #224 closed, assigned to tripodsan

[2020-01-30 13:43] ranrib commented on #221
:tada: This issue has been resolved in version 1.49.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.49.1)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.49.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-30 13:43] ranrib commented on #223
:tada: This issue has been resolved in version 1.49.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.49.1)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.49.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-30 13:43] ranrib commented on #224
:tada: This issue has been resolved in version 1.49.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.49.1)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.49.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-17 00:58] tripodsan opened #243 "http response handling changes of epsagon 1.56.1 produce runtime errors"
### How to reproduce:

- clone example repo in: https://github.com/tripodsan/epsagon-testing
- run `http-example`:

[code]

[2020-03-18 16:34] #243 closed, assigned to ranrib

[2020-03-18 16:38] ranrib commented on #243
:tada: This issue has been resolved in version 1.57.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.57.2)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.57.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-23 04:14] tripodsan opened #249 "http response handling changes of epsagon 1.56.1 still produce runtime errors"
even with the recent fixes of #244, we're still seeing errors with epsagon enabled, that are otherwise not a problem:

[code]

could be caused by epsagon, consuming the chunks of the response.

[2020-03-23 10:31] tripodsan commented on #249
see https://github.com/tripodsan/epsagon-testing/blob/f135ed185fc74b120af6e2ade7ab1ccab6501ce9/action-with-fetch/src/index.js#L30-L34

running the example shows:

[code]

[2020-03-24 03:00] tripodsan opened #250 "Dealing with OpenWhisk sequences"
OpenWhisk supports action [sequences](https://github.com/apache/openwhisk/blob/master/docs/actions.md#creating-action-sequences)

When invoking a sequence, epsagon only records the activation-id of that sequences and it's not possible to consolidate the executed actions of that sequences with the invocation chain. when invoking the action via a http request, the reponse header only contain the act

[2020-03-24 08:28] tripodsan opened #251 "Improve key filtering"
Currently, it is only possible to filter for key names out of the context of the rest of the resource.
e.g. it is not possible to filter key names based on target host or request method.
For example, I would like to remove the `request_body` for all `POST` requests to `*.okta.com`.

A even better mechanism would be the ability to filter the values, eg redact the value of a `token` header.

[2020-03-31 11:29] #249 closed, assigned to nobody

[2020-03-31 11:34] ranrib commented on #249
:tada: This issue has been resolved in version 1.58.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.58.3)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.58.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-07 00:50] tripodsan opened #256 "http response handling changes of epsagon 1.58.3 still produce runtime errors when webpacked"
with #249 fixed, the tests now work locally, but when bundling with webpack, they still fail:

[code]

when running the test locally, I see that the arguments passed into the `internalHttpWrapper` are:

[code]

but when running in the bundle, i get:

[code]

It seems that the shimmer can't patch the method when it's bundled.

[2020-04-07 01:10] tripodsan commented on #256
the error is reproducible here:
https://github.com/tripodsan/epsagon-testing/tree/master/action-with-fetch

[2020-04-07 01:13] tripodsan commented on #256
as a quick workaround...could we add a general config option to `DisableHttpResponseBodyCapture` ?

[2020-04-07 09:10] #250 closed, assigned to nobody

[2020-04-07 09:14] ranrib commented on #250
:tada: This issue has been resolved in version 1.58.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.58.4)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.58.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-10 11:45] #256 closed, assigned to nobody

[2020-04-10 11:54] tripodsan opened #259 "epsagon 1.58.5 hangs after 2 consecutive http requests"
It is a bit hard to reproduce, but it seems that with 2 consecutive https requests, which both return a 404 but with content, sending the trace will fail.

this only happens when using `helix-fetch`

see https://github.com/tripodsan/epsagon-testing/tree/master/action-with-fetch

running the example shows:

[code]

[2020-04-10 11:59] henperez commented on #259
Might be related to internal issue in the user's code. Closing for now

[2020-04-10 12:15] tripodsan commented on #259
further investigation shows, that adding a `connection: close` header prevents hanging, but the trace is not sent:

[code]

[code]

[2020-04-10 12:38] tripodsan commented on #259
mayby not....need investigate more.

[2020-04-10 12:38] #259 closed, assigned to nobody

[2020-05-03 16:37] solaris007 opened #271 "no traces are sent when JSON.stringify throws"
When sending a trace in `sendCurrentTrace(traceSender)`,  a `traceJson` is assembled and later its size checked by `JSON.stringify`ing it:

[code]

JSON.stringify can throw when the JSON has issues, such as a circular reference:

[code]

Probably this error should be caught *and logged* :D and other traces allowed to be sent.

[2020-05-03 19:40] ekremney commented on #271
@ranrib @henprtz

[2020-05-03 20:30] ranrib commented on #271
Thanks, we're on it!

[2020-05-04 10:14] henperez commented on #271
Fixed by reporter

[2020-05-04 10:17] solaris007 commented on #271
@henprtz please re-open. i did not create this issue because of the underlying circular reference, but because when the JSON.stringify fails for any reason, epsagon just silently dumps the trace. No log, no try catch. Finding out the issue required debugging your code, as the debug level epsagon level log only said "sending trace"

[2020-05-04 11:28] amurdock opened #272 "Access _headers produces DEP0066 warning in Node8 and above"
The implementation in `src/events/http.js` (lines 265-269) references a deprecated property. See https://nodejs.org/dist/latest-v12.x/docs/api/deprecations.html#deprecations_dep0066_outgoingmessage_prototype_headers_outgoingmessage_prototype_headernames for more information.

[2020-05-04 11:39] ranrib commented on #272
Thanks @amurdock, the fixed version should be deployed very soon. Please follow the PR.

[2020-05-04 14:53] #272 closed, assigned to ranrib

[2020-05-04 14:57] ranrib commented on #272
:tada: This issue has been resolved in version 1.61.6 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.61.6)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.61.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-04 15:05] amurdock commented on #272
@ranrib really appreciate the quick turn around!

[2020-05-05 07:47] henperez commented on #271
@solaris007 - I agree, we'll fix that ASAP.

[2020-05-10 17:16] #271 closed, assigned to henperez

[2020-05-16 12:01] solaris007 opened #284 "kafka send: Maximum call stack size exceeded"
version: epagon-node 1.63.1

When using `kafkajs#send` espagon produces an uncaught "Maximum call stack size exceeded" error that breaks our openwhisk action sending the event.

Downgrading to version 1.62.3 fixeds the issue which was probably introduced via #277

https://github.com/epsagon/epsagon-node/compare/v1.62.3...v1.63.1

There seems to be circularity between:
[code]
in https://github.com/

[2020-05-16 12:05] solaris007 commented on #284
@ranrib at the beginning it was not apparent that epsagon was at fault (just like in #271 ), only via time, debugger and bundling the latest dev version of epsagon was the fault detected. we deserve a beer :D
I suggest to introduce better error handling and logging.

[2020-05-19 10:02] #284 closed, assigned to nobody

[2020-05-19 10:06] ranrib commented on #284
:tada: This issue has been resolved in version 1.64.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.64.2)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.64.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-02 08:42] brigitte0 opened #295 "Doesn't work with `got`"
epsagon version: 1.61.5
got version: 11.0.2

Recently added [got](https://github.com/sindresorhus/got) to my project and received the following error when calling `got.get(url, options)` with Epsagon enabled

[code]

The error is thrown by the following line https://github.com/epsagon/epsagon-node/blob/master/src/events/http.js#L273 because callback is an object and not a function.
<img width="560

[2020-06-02 12:30] ranrib commented on #295
:tada: This issue has been resolved in version 1.69.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.69.1)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.69.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-29 16:15] haddadnj opened #315 "Dependency Renders Node.JS<v12 Unsupported"
`uuid-to-hex` version `1.1.1` no longer supports node versions under 12.

https://github.com/DeRain/uuid-to-hex/commit/2b5ccb1df554978c2ba894b9d23eacfeedb4faf6

https://github.com/epsagon/epsagon-node/blob/master/package.json#L92

Proposing updating dependency declaration to `"uuid-to-hex": "~1.0.3",`

[2020-06-29 16:29] ranrib commented on #315
Thanks @haddadnj - we're on it

[2020-06-30 07:06] #315 closed, assigned to ranrib

[2020-06-30 07:10] ranrib commented on #315
:tada: This issue has been resolved in version 1.73.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.73.3)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.73.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-09-04 15:44] succulentpup commented on #295
I'm still facing this error on epsagon 1.81.2.
Node 10.x
"serverless-webpack": "^5.3.3"
"terser-webpack-plugin": "^4.1.0"
"webpack": "^4.44.1"
"epsagon": "^1.82.0"
 "got": "^11.6.0", (with got 9.0.6, there is no issue)

Ref ticket in stackoverflow: https://stackoverflow.com/questions/63742723/typeerror-i-is-not-a-function-aws-lambda-wrapped-with-epsagon

Following is the error snippet from cloudWa

[2020-09-06 11:21] ranrib commented on #295
Hi @succulentpup - thanks for sharing.
The error seems weird, because it misses the exact fix that was done, with verifying that i is a function.
It seems that you're using the layer version of Epsagon (since the path is `/opt/nodejs/node_modules/`) - My assumption is that it's either not the latest version, or that accidentally the layer is still there.
Can you verify please, and share the full l

[2020-09-07 12:11] succulentpup commented on #295
@ranrib Thanks a ton for your response.
Your hint on layers helped me a lot. Actually when epsagon auto-tracing is enabled on any lambda, it adds a layer called

to that lambda.
It shows only in lambda configuration when we go thru aws console. If we use 'aws lambda list-layers'  the response does not show this layer 'epsagon-node-layer' details.
Finally, I've disabled epsagon auto-tracing and the

[2020-09-07 12:21] #295 closed, assigned to ranrib

[2020-10-26 10:05] danielbatica opened #382 "kafkajs wrapper changes behaviour of the original library"
Kafka eachMessage wrapper does not return the promise. This leads to the eachMessage not being awaited. Event processing in the consumer is no longer sequential when async tasks are executed inside.

[This call](https://github.com/epsagon/epsagon-node-frameworks/blob/37f58a67cf10a47e98e9323b8d55f63c08997a02/src/wrappers/kafkajs.js#L67) should be awaited or the result of the call (the promise) shou

[2020-10-26 10:06] ekremney commented on #382
This issue causes our pods to fail due to OOM. Could you please take a look at it. @danielbatica has already a solution for it.

cc: @ranrib @henprtz

[2020-10-26 10:55] danielbatica commented on #382
Proposed fix here: https://github.com/epsagon/epsagon-node-frameworks/pull/77/files

[2020-10-26 12:23] ranrib commented on #382
Released in version `1.23.3`. Thanks @danielbatica!

[2020-10-26 12:23] #382 closed, assigned to nobody

[2020-11-29 02:45] tripodsan opened #392 "Add ability to control if filtered properties should be removed or redacted."
In version 1.89.0 the way how filtered properties are handled changed: https://github.com/epsagon/epsagon-node/pull/375
it now masks the filtered keys instead of suppressing them. It would be good, if we could have an option to remove the keys completely.

a least it should be possible to have an option to disable redacting and removing the ignored keys.
even better would be to have the possibilit

[2020-11-30 08:25] #392 closed, assigned to ranrib

[2020-11-30 08:34] ranrib commented on #392
:tada: This issue has been resolved in version 1.101.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.101.0)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.101.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-01-08 21:53] jcollum opened #404 "Error when using a Winston logger in Epsagon instrumented code during Mocha test"
Working (no error) version of function:

[code]

Failing version:

[code]

In case it isn't clear, `...` means I left code out. Doesn't matter, if I put in the Winston logger in the epsagon-instrumented code it fails on the first line. Stack trace:

[code]

Relevant sections of package-lock:

[code]

[code]

package deps:

[code]

Env:

[code]

I'm running Mocha via IntelliJ IDEA usually but it al

[2021-01-09 12:48] ranrib commented on #404
Thanks @jcollum, we'll investigate it

[2021-01-09 12:49] ranrib commented on #404
But in general, for testing/local needs, we recommend setting `DISABLE_EPSAGON=TRUE` as an env var. This completely "shuts down" the tracing, which makes sure no side effects are happening in tests.

Can you kindly try that @jcollum?

[2021-01-09 19:36] ranrib commented on #404
I tried to replicate it with the following example, but couldn't manage to do so.
Can you kindly help me troubleshoot it? Also do you mind upgrading your epsagon version to the latest?

[code]

[2021-01-10 06:35] jcollum commented on #404
I'll take a look on monday

On Sat, Jan 9, 2021, 11:36 AM Ran Ribenzaft <notifications@github.com>
wrote:

[2021-01-11 17:33] jcollum commented on #404
Updated to Epsagon@latest:

[code]

Still seeing the same error.

Used `DISABLE_EPSAGON=TRUE` and the error about node property being undefined went away, so that works.  Tests aren't passing but it appears to be a different issue unrelated to Epsagon. These tests are overriding the `process` object (I didn't do it) so that's probably where the problem lies, I think that has all kinds of repercuss

[2021-01-11 18:24] #404 closed, assigned to ranrib

[2021-01-11 19:09] ranrib commented on #404
Yes, it's indeed the error with accessing `process.versions.node` - we can fix it to be more resilient and fail-safe. Would you like that?

[2021-01-11 21:46] jcollum commented on #404
Nah, I think if a dev overwrites the process object it's their fault their
tests fail!

On Mon, Jan 11, 2021 at 11:09 AM Ran Ribenzaft <notifications@github.com>
wrote:

[2021-01-29 19:31] jcollum opened #423 "SSRF vulnerability reported via Axios in 1.104.4"
Fresh install of Epsagon today in an old project:

[code]

[code]

Result:

[code]

[2021-01-29 21:27] ranrib commented on #423
Hi @jcollum !
We've identified a potential memory leak with the latest Axios version, as you can see here https://github.com/axios/axios/issues/3457
We are still investigating, and we want to make sure there's no impact in the meantime.

To rest you assured, we've verified that this current CVE is not related to our use, and can't be exploited by using Epsagon for monitoring.

Let me know if you h

[2021-01-29 22:01] jcollum commented on #423
https://github.com/epsagon/epsagon-node/pull/424

[2021-01-30 12:44] #423 closed, assigned to nobody

[2021-02-12 13:00] ymwjbxxq opened #433 "AWS Batch wrapper cannot execute function"
Your documentation report this
https://docs.epsagon.com/docs/nodejs-aws-batch

I am using TypeScript and I have tried multiple things but I am getting always the same error.

**try number 1:**
`export const startExecution: any = epsagon.wrapBatchJob(doit);

function doit() {
  console.log("sfsdffdsf")
}`

ERROR:
 TypeError: handler_1.startExecution is not a function

**try number 2:**
`export cons

[2021-02-15 08:51] ymwjbxxq commented on #433
Hi Ran,

I am playing around with the code and  with this little change I can run a function but not sure how to see if I broke the aws batch

`module.exports.wrapBatchJob = function wrapBatchJob(functionToWrap) {`

and unit tests are:

`it('wrapBatchJob: call sync function', () => {
        function doit(arg) {
          expect(arg).to.equal("params");
        }
        batchWrapper.wrapBatchJob(

[2021-02-16 12:31] ranrib commented on #433
Hi @ymwjbxxq please look at the updated docs:
[code]

Thanks for pointing out the issue!

[2021-02-16 14:15] ymwjbxxq commented on #433
![Screenshot 2021-02-16 at 15 14 58](https://user-images.githubusercontent.com/78874812/108074683-ca217780-7069-11eb-80e3-96e48226f680.png)

I do not understand how this fix the problem. I think now you need to change the TypeScript Definition

[2021-02-16 14:29] ranrib commented on #433
You're right, I've created a PR

[2021-02-16 14:30] ymwjbxxq commented on #433
you were faster than me...

[2021-02-16 16:29] #433 closed, assigned to ranrib

[2021-02-21 18:18] ymwjbxxq opened #447 "AWS AppConfig support"
Would be nice to add a special icon for AWS AppConfig especially the integration with Lambda function
https://docs.aws.amazon.com/appconfig/latest/userguide/appconfig-integration-lambda-extensions.html

When you integrate AppConfig you will have:

- Lambda layer (arn:aws:lambda:{REGION}:066940009817:layer:AWS-AppConfig-Extension:{version}
- Environment variable (configurable)

| Environment variab

[2021-02-22 04:29] ymwjbxxq opened #449 "Tracing AWS EventBridge Target Step Functions state machines"
Hello,

I have a lambda function that add an event into EventBridge to execute a Stepfunction.
Your ServiceMap does not trace this connection.
I can see:

- Lambda to EventBridge (putEvents)
- The first Lambda of the StepFunction completely separated and without the state machine icon as well

This is how I put the event that you trace (putEvents)
`
const eventRequest: PutEventsRequest = {
      E

[2021-02-22 05:51] ymwjbxxq opened #450 "Service Integrations with AWS Step Functions"
Hello,

it seems that the [service integrations](https://docs.aws.amazon.com/step-functions/latest/dg/concepts-service-integrations.html) like (at least the one that I could test):

1. SQS
2. Batch

are not traced or caught.

For example SQS:
**TaskScheduled:**
[code]

**TaskStarted:**
[code]

**TaskSubmitted:**
[code]

**TaskFailed:**
[code]

For example BATCH:
**TaskScheduled:**
[code]

**TaskSt

[2021-02-22 08:43] ymwjbxxq opened #451 "Connect AWS API Gateway directly to SNS using a service integration"
Hello,

from the ServiceMap I can tell you that APIGW is not present.

I have this configuration:
APIGW -> SNS -> 2 SQS -> 2 Lambda

I can see all from: SNS -> 2 SQS -> 2 Lambda

Would be nice and **very important** to get the support for the APIGW because there you can be throttled and would be nice to get notified.

The logs for the APIGW are
[code]

so in theory you have all the information to

[2021-02-22 09:30] haimrait commented on #433
:tada: This issue has been resolved in version 1.106.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.106.0)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.106.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-23 05:54] ymwjbxxq opened #453 "Node support"
Hello,

epsagon-node support 8.x, 10.x, 12.x, and 14.x where

8.x has been deprecated since a while
10.x will be deprecated end of April 2021
https://endoflife.date/nodejs

Do you have plans to fork the current version for 8 and 10?

If you do that you will have advantages to keep the "active" version up to date with dependencies, currently because the compatibility to  8.x you cannot update prett

[2021-02-24 06:23] ymwjbxxq opened #455 "AWS Batch wrapper does not trace error"
AWS Batch wrapper does not report job failures...

Inside the log we should see:

[code]

instead this is missing.

The batch wrapper
https://github.com/epsagon/epsagon-node/blob/master/src/wrappers/batch.js

has this:
[code]

in my PoC you can see the following result:

[code]

if you remove the the try catch instead you have:
[code]

**so uncaughtException is never called.**

[code]

considering

[2021-02-25 06:37] ymwjbxxq opened #457 "AWS APIGW: enhanced observability variables"
Hello,

I can see perfectly in the serviceMap:
APIGW -> LAMBDA

but would be great to enhance the tracing especially on the latency side.
If you follow this link:
https://aws.amazon.com/blogs/compute/troubleshooting-amazon-api-gateway-with-enhanced-observability-variables/

you can break down the latency by:

- WAF
- Authenticate
- Authorizer
- Authorize

and where you are there you can add at lea

[2021-02-25 17:00] ranrib commented on #453
Hi @ymwjbxxq  - we do plan to deprecate soon Node 8 with the new version 2 of this library. I'm closing this in the meantime

[2021-02-25 17:00] #453 closed, assigned to nobody

[2021-02-26 13:38] ymwjbxxq commented on #447
![Screenshot 2021-02-26 at 14 36 45](https://user-images.githubusercontent.com/78874812/109306884-1de94900-7840-11eb-8f53-ff39a014220b.png)

I see the icon has changed and it is great....maybe call it AppConfig would be nice

[2021-02-27 08:59] ymwjbxxq commented on #455
Hello,

I have played a bit around changing the original code but without success.
[code]
https://docs.aws.amazon.com/batch/latest/userguide/job_states.html

inside the aws batch script you must have process.exit(1);

I changed the PoC to be:
[code]

now we have:

node test.js
[code]

maybe the code inside [batch.js](https://github.com/epsagon/epsagon-node/blob/master/src/wrappers/batch.js) could

[2021-02-27 12:22] ymwjbxxq commented on #455
@ranrib I have found the problem
instead of using process.exit(1); that will not give the epsagon library the time to send the trace the code should use **process.exitCode = 1;** allows the Node.js process to terminate naturally

so there is no bug but you can remove shimmer from your code and use pure node

[code]

[2021-02-27 12:22] #455 closed, assigned to nobody

[2021-03-01 06:43] ranrib commented on #451
Thanks @ymwjbxxq! this is unrelated to the node library, and we've forwarded this feature request to our product team 🙏🏻

[2021-03-01 06:43] #451 closed, assigned to nobody

[2021-03-01 06:43] ranrib commented on #457
Thanks @ymwjbxxq! this is unrelated to the node library, and we've forwarded this feature request to our product team 🙏🏻

[2021-03-01 06:43] #457 closed, assigned to nobody

[2021-03-01 06:44] ranrib commented on #450
Thanks @ymwjbxxq! this is unrelated to the node library, and we've forwarded this feature request to our product team 🙏🏻

[2021-03-01 06:44] #450 closed, assigned to nobody

[2021-03-01 06:46] ranrib commented on #447
Thanks @ymwjbxxq! since this call is being captured from the HTTP instrumentation, we would rather leave it as it is to avoid confusion. We can implement in the future tailored support for AppConfig instrumentation.
Other than that - you should not experience any difference functional-wise in the dashboard.

[2021-03-01 06:46] #447 closed, assigned to nobody

[2021-05-04 04:19] uccmen opened #480 "Webpack WARN: Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
Dependency versions
[code]

Full warning trace shown during webpack bundling with `stats.errorDetails: true`:
[code]

epsagon_handlers/fieldGroupEditorHandler-epsagon.ts (automatically generated by serverless-plugin-epsagon)
[code]

[2021-05-16 05:01] ranrib commented on #449
Added as internal ticket. Thanks!

[2021-05-16 05:01] #449 closed, assigned to nobody

[2021-06-11 05:13] sks147 opened #495 "Build failing on Heroku"
Dependencies versions

[code]

It worked fine when building on local, I could see localhost metrics in the dashboard.
But it's faling when I'm pushing the latest code to heroku.
[code]

[2021-06-12 06:47] ranrib commented on #495
Hi @sks147, it looks like the package is missing in the heroku server. Can you confirm that epsagon-frameworks is available?

[2021-06-20 06:48] #495 closed, assigned to nobody

[2021-06-29 05:23] ymwjbxxq opened #500 "is aws-sdk v3 supported?"
Hello All,

As you know, there is also [AWS SDK for Javascript v3](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/index.html), and I would like to know if it is supported and how to use it with webpack.

With the v2 in the webpack, you have something like this:
[code]

In the v3 instead, the code could be like this:
[code]

Could you please shed some light?

Thanks,
Dan

[2021-08-12 22:08] ojongerius opened #511 "Axios deprecated warnings"
We started using the node library, and see our logs are getting polluted with warnings about transitional  options being used from the Axios library (during cold starts):

[code]

This started in https://github.com/epsagon/epsagon-node/releases/tag/v1.113.2 which upgrades `axios` to `axios-minified` at version `1.0.2`. I verified the messages go away when we downgrade.

[2021-08-24 04:52] amouly commented on #511
I have the same warning.

[2021-08-30 05:31] selvendranayyaswamy opened #513 "Tracer no longer supports MongoDB driver V4"
The epsagon tracer no longer supports the tracing of MongoDB calls. I think starting Version 4, MongoDB core dependency has been removed from the MongoDB driver and the entire patching is done based on the MongoDB core module because of which the tracer is not able to find out the wireprotocol folder.

starting from MongoDB version 4, this path is no longer present  'mongodb/lib/core/wireprotocol/

[2021-09-12 08:30] sagivr2020 commented on #511
Hi, fix can be found in epsagon node version: 1.114.1 (latest).
Please upgrade.

[2021-09-12 08:36] #511 closed, assigned to sagivr2020

[2021-10-11 08:11] #251 closed, assigned to nobody

[2021-10-11 08:13] #500 closed, assigned to nobody

[2021-10-27 18:47] jjosef-rsi opened #531 "NestJS Support?"
NestJS uses express (or other supported libraries) under the hood. However, the auto-tracing does not seem to work. Is there a suggested way to get events to register when using NestJS or a similar framework?

[2021-10-31 09:40] sagivr2020 commented on #531
Hi @jjosef-rsi, it might be supported since it is based on Express.
Please use [epsagon-framework](https://docs.epsagon.com/docs/tracing-libraries/nodejs/nodejs-express/) .

[2021-11-17 08:29] #531 closed, assigned to nobody

[2021-11-17 08:30] sagivr2020 commented on #531
@jjosef-rsi I'm closing the issue since it indeed supported by our epsagon-framework library.

[2021-11-22 08:12] ymwjbxxq opened #544 "AWS-SDK3 split"
Hello Epsagon Team,

Now that you started supporting the AWS-SDK v3, maybe it is a good idea to split it entirely from the old epsagon-node library.

A few advantages:
- use up to date libraries
- avoid this "Unzipped size must be smaller than 262144000 bytes during the build
- add TypeScript
- add unit tests from scratch

At the moment is all mixed.

Thanks
Dan

[2021-12-03 07:58] ymwjbxxq opened #546 "Rust: support"
Hello Team,

because you are always the first would be nice to support RUST
https://github.com/awslabs/aws-sdk-rust

All the essential serverless services are supported.

It would be nice to know if it is in the roadmap and a rough  ETA just to plan around.

Thanks,
Dan

[2021-12-07 14:05] sagivr2020 commented on #546
Hi @ymwjbxxq , Thanks for letting us know, at that point, we would like not to implement a new tracing library that we will need to add support in the future.

[2021-12-07 14:05] #546 closed, assigned to nobody

[2021-12-07 14:09] sagivr2020 commented on #544
Hi @ymwjbxxq, we appreciate your suggestions, we'll consider using this approach in order to keep the library organized.
Thanks!

[2021-12-07 14:09] #544 closed, assigned to nobody

[2021-12-16 11:55] guillaumeduboc opened #550 "Label TypeScript type definition"
The current `index.ts` doesn't allow to use numeric or boolean labels but epsagon allows it.
Therefore I cannot sum or average my custom label.

I suggest changing the label definition to
[code]

Thanks

[2022-01-25 10:40] Nicoowr opened #560 "Epsagon SDK times out with Apollo Federation"
We host Apollo Gateway & subservices on AWS Lambda.

Wrapping the gateway with `epsagon.lambdaWrapper` works like a charm.

Wrapping the subservices leads to a time-out though. After some investigation, it seems the graphql query manages to reach the resolver, the resolver runs but never returns. Here is the code I'm using:

[code]

`epsagon` version: `1.119.1`
`@apollo/gateway` version: `0.45.1`

[2022-03-01 11:18] guillaumeduboc opened #572 "Eventbridge operations for the AWS SDK V3 are not supported"
Events put on an Eventbridge bus with the sdk v3 are not traced.

To compare the sdk v2 and v3 :

[code]

[2022-03-17 23:11] mitch3x3 opened #578 "Newest version [1.121.0] causing compatibility issues with pg library"
Yesterday on 03/16/2022 version `1.121.0` was published. This version introduced a compatibility issue between the epsagon package and the [pg](https://www.npmjs.com/package/pg) package.

The trace for this error is shown below:
[code]

We fixed this internally by downgrading epsagon back to version `1.120.2` and removing the `^` for epsagon in the package.json file so that this minor version was

[2022-03-17 23:58] s0phr0syn3 commented on #578
The line which calls the removed `doesContainIgnoredKey` is located here: https://github.com/epsagon/epsagon-node/blob/7fb93e16b47a8c280a4d57641aa21edb9a329916/src/events/sql.js#L117

[2022-03-18 08:37] nemoshlag commented on #578
Thanks @mitch3x3 and @s0phr0syn3 ! We're rollbacking this version and republishing without the collision

[2022-03-18 10:20] arbiv commented on #578
version 1.121.1 is released with rollback of the problematic commit.
Thanks for reporting this issue!

[2022-03-18 10:20] #578 closed, assigned to nobody

[2022-03-20 11:41] #550 closed, assigned to nobody

[2022-03-21 13:56] #572 closed, assigned to nobody

[2022-03-21 13:59] nemoshlag commented on #550
:tada: This issue has been resolved in version 1.121.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.121.2)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.121.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-21 13:59] nemoshlag commented on #572
:tada: This issue has been resolved in version 1.121.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.121.2)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.121.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-30 18:27] guillaumeduboc opened #582 "Incompatibility with `stripe-node` library"
When using the [`stripe-node`](https://www.npmjs.com/package/stripe) library on my project, the call to the api seems to never resolve

I have investigated a little bit and to reproduce the problem you can execute the following lambda

[code]

If I remove `epsagon` from the project, this lambda works fine.

This code is inspired by the `makeRequest` method of `stripe-node/lib/StripeResource.js`

I

[2022-03-31 08:32] sagivr2020 commented on #582
Hi @guillaumeduboc, which stripe-node library version are you using?
We found that versions above 1.169.0 are interferes with async events.

[2022-03-31 08:40] sagivr2020 commented on #513
Hi @selvendranayyaswamy, we added support to MongoDB driver V4.
Please update to the latest version 1.121.2 .
Thanks!

[2022-03-31 08:40] #513 closed, assigned to nobody

[2022-04-01 09:10] guillaumeduboc commented on #582
Hi @sagivr2020, I'm using the version 8.211.0

[2022-04-03 11:26] sagivr2020 commented on #582
Hi @guillaumeduboc, we've found that from version 1.169.0 the calls interfere with async events (as you mentioned it's not resolved on our end).
We released a new version that handles it, please upgrade to the latest version 1.121.3

[2022-04-03 12:58] #582 closed, assigned to nobody

[2022-04-05 17:30] guillaumeduboc commented on #582
Hi @sagivr2020, I am concerned ignoring the calls to the stripe endpoint makes us lose the information.
Furthermore, if another library uses the `http` module the same way as `stripe` it will raise the same issue.

From what I understand, registering multiple listeners on the data event of the response is responsible for the behaviour.

I have opened a draft PR (#584), solving the problem, to have

[2022-04-08 07:35] guillaumeduboc opened #586 "Tracing of calls to latest versions of `stripe-node` is impossible"
Following #582, I am concerned ignoring the calls to the stripe endpoint makes one lose too much information.
Furthermore, if another library uses the http module the same way as stripe it will raise the same issue.

From what I understand, registering multiple listeners on the data event of the response is responsible for the behaviour.

I have opened #584, solving the problem
Looking forward to

[2022-04-11 08:04] sagivr2020 commented on #586
Hi @guillaumeduboc, your PR has been approved by @haddasbronfman.

[2022-04-11 12:06] #586 closed, assigned to nobody

[2022-04-19 16:14] osherv commented on #586
:tada: This issue has been resolved in version 1.122.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.122.0)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.122.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-19 16:14] osherv commented on #572
:tada: This issue has been resolved in version 1.122.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.122.0)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.122.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-19 16:14] osherv commented on #550
:tada: This issue has been resolved in version 1.122.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/epsagon/v/1.122.0)
- [GitHub release](https://github.com/epsagon/epsagon-node/releases/tag/v1.122.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-06-15 10:46] nemoshlag opened #597 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you can benefit from your bug fixes and new features again.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure y

[2022-06-15 11:11] #597 closed, assigned to nobody